{
    margin:0;
    padding:0;
    box sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{ 
    background-color: #fff;
    padding: 10px 0px;
    display: flex;
    

    }

/*layout*/
.container{
    margin: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;

}
.container2{
    padding: 3px 0px;
    margin: auto;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    position: relative;  
}

}

.grid-section{
    background-color: #fff;
    padding-top: 60px ;
    padding-bottom:60px;
    display: flex; 
}
/*non convinta se questa section è necesaria*/
.section-h2{
    font-size: 30px;
    margin-top: 90px;
}    
   
.bg-lightblue{
    background-color: lightblue;
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    overflow: visible;
    gap: 40px;
    height: auto;
    

    
}
.row{
     justify-content: space-between;
     width: 100%;
     max-width: 1200px;
     padding-right: 40px;
}
.img-block{
  
    position: relative;
    display: flex;
    justify-content:end;
    max-width: 1200px;
    width 900;
    top: 150px;
}
.img-block img{
    width: 400%;
    max-width: 900px;
    height:auto;
    position:relative;
   
    

}

.col-30  {
font-size: 20px;
width: 50%;
max-width: 500px;
margin-bottom: 30px;
padding-right: 40%;
}
.col-33{
    margin: auto;
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 1px;
    width:calc(100% / 3)
    
    

}
 
.col-60{
margin:60px;
font-size: 25px;
margin-top: 0;
margin-bottom: 30px;
text-align: left;
}    
ul{ 
   display: flex;

}
ul li{
    display: flex;
    
    margin-right: 90px;
}

/*utility*/
button {
    background-color: blue;
    color: #fff;
    font-size: small;
    cursor: pointer;
    

}
.push{
    display: flex;
    color: #333;
    margin-bottom: 30px;
}
.push input[ type="radio"]{
    margin-right: 10px;
    accent-color: blue;
}