{
    margin:0;
    padding:0;
    box sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{ 
    background-color: grey;
    padding: 10px 20px;
    display: flex;
    }

/*layout*/
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

}
.container2{
    display:flex ;
    padding: 3px 0px;
    
}
    
ul{ 
   display: flex;
   
}
ul li{
    display: flex;
    margin-right: 90px;
}
/*utility*/
button {
    background-color: blue;
    color: #fff;
    font-size: small;

}
.bg-lightblue{
    background-color: lightblue;
    padding: 60px 40px;
    text-align: left;
}